.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.form-input{
    flex: 1;  
    height: 55px;
    font-size: 22px;
    padding-left: 10px;
    outline: none;
    border: none;
    border: 3px #fad393 dashed;
}

.form-btn{
    width: 150px;
    height: 55px;
    padding: 10px;
    margin-left: 10px;
    transition: .35s all;
}

.form-btn:hover{
    background-color:#e1a667;
    color: #fff;
}
