.todos-item{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 10px;
    margin-bottom: 20px;
    transition: .35s all ease;
    cursor: pointer;
}

.todos-item:hover{
    background-color:rgb(239, 239, 239);
    border-radius: 10px;
}

.todos-label{
    font-size: 22px;
    width: 100%;
}

.todos-label-done{
    text-decoration: line-through;
}

.todos-label-important{
    color: greenyellow;
}

.todos-container{
    width: 60px;
    display: flex;
    justify-content: space-between;
}

.fa-trash-alt,.fa-star{
    font-size: 19px;
    transition: .2s color;
}

.fa-star:hover{
    color: greenyellow;
}

.fa-trash-alt:hover{
    color: red;
}