*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
}

.app{
    width: 100%;
    min-height: 100vh;
    background-color: #ffe9ac;
    padding: 50px;
}

.app__container{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 40px 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 1px #000;
}

.btn{
    font-size: 22px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

