.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header-logo{
    font-size: 30px;
    color: #fff;
    background-color: #e1a667;
    padding: 8px;
    border-radius: 5px;
    border-top-right-radius: 30px;
}

.header-counter{
    font-size: 24px;
}